<div class='cube'>
  {{#if imageUrl}}
  <img
    class='cube'
    src='/static/assets/{{imageUrl}}'
  />
  {{else }}
  <img
    class='cube'
    src='/static/assets/noImage.jpg'
  />
  {{/if}}
  <p class='name'>{{name}}</p>
  <p><span>Price: </span>{{price}}</p>
  <a class='btn' href='/details/{{id}}'>Details</a>
  <button class='btn more'>Show more</button>
  <div class="description"><p>{{description}}</p></div>
</div>